<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>javaweb_t9_RequestAndResponseAndServletContext</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RequestLineServlet</display-name>
    <servlet-name>RequestLineServlet</servlet-name>
    <servlet-class>cn.com.systop.t05.servlet.RequestLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestLineServlet</servlet-name>
    <url-pattern>/RequestLineServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BSInfoServlet</display-name>
    <servlet-name>BSInfoServlet</servlet-name>
    <servlet-class>cn.com.systop.t05.servlet.BSInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BSInfoServlet</servlet-name>
    <url-pattern>/BSInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestHeadersServlet</display-name>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <servlet-class>cn.com.systop.t05.servlet.RequestHeadersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <url-pattern>/RequestHeadersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.com.systop.t05.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextTestServlet</display-name>
    <servlet-name>ContextTestServlet</servlet-name>
    <servlet-class>cn.com.systop.t05.servlet.ContextTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextTestServlet</servlet-name>
    <url-pattern>/ContextTestServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>weburl</param-name>
    <param-value>http://www.systop.com.cn</param-value>
  </context-param>
</web-app>