
#main .right .content .t{ float:right;height:40px; width:636px;background:url(images/news_content_title.gif); line-height:40px; padding-left:40px; margin-left:3px; margin-right:1px; font-size:14px; color:#276BB4; font-weight:bold;}

#main .right .box{ margin-bottom:0px; width:650px; margin-left:20px; margin-top:10px;}
#main .right .box h1{ clear:both;height:25px; line-height:25px; border-bottom:#CCCCCC solid 1px; color:#276BB4;font-size:14px; background:url(images/news_content_title_dot.gif) left 5px no-repeat; font-weight:bold; padding-left:5px;}
#main .right .box h1 p{ margin-left:10px;float:left;}
#main .right .box h1 span{ margin-right:10px;float:right; font-size:12px; color:#999999;}
#main .right .box h2{ clear:both; float:left;font-size:12px; color:#7B7B7B; margin-top:18px!important;margin-top:8px; padding-bottom:8px; margin-bottom:10px;}
#main .right .box h2 img{float:left; border:#CCCCCC 1px solid; padding:2px; margin-left:10px;}
#main .right .box h2 .con{ float:left;margin-left:10px; width:510px;}
#main .right .box h2 .con .t1{ color:#276BB5; font-size:14px;margin-top:5px;}
#main .right .box h2 .con .c1{ margin-top:5px; line-height:20px; font-weight:100;}

#main .right .box .newsbox{ margin-bottom:15px;border-bottom:#CCCCCC dotted 1px;}
#main .right .box .newsbox .l1{ float:left; width:630px; height:20px; margin-left:5px;}
#main .right .box .newsbox .l1 p{float:left;background:url(images/news_dot1.gif) 5px 2px no-repeat; padding-left:25px; line-height:20px; color:#276BB4; font-weight:bold;}
#main .right .box .newsbox .l1 p a{color:#276BB4;}
#main .right .box .newsbox .l1 p a:hover{color:#FF0000;text-decoration:underline;}
#main .right .box .newsbox .l1 span{float:right; width:75px; text-align:left;}
#main .right .box .newsbox .l2{ float:left;margin-left:5px;line-height:20px; padding-left:5px; width:625px;}
#main .right .box .newsbox .l3{ float:left;margin-left:5px;width:590px; margin-top:5px;height:20px;background:url(images/news_dot2.gif) 5px 1px no-repeat;padding-left:40px;}
#main .right .box .newsbox .l3 a{margin-right:15px;}
#main .right .box .newsbox .l3 a:hover{ text-decoration:underline;}

#main .right .newslistnav { height:30px; line-height:30px; text-align:right; padding-right:20px;} 

#main .right .content .detail{ float:left; padding-left:40px;width:600px;}
#main .right .content .detail .t2{color:#000000;}
#main .right .content .detail .t2 h1{ margin:20px auto 10px;font-size:16px; font-weight:bold; height:30px; text-align:center; line-height:30px;}
#main .right .content .detail .t2 h2{ margin:0px auto; padding-bottom:10px;font-size:12px; height:20px; text-align:center; line-height:20px; font-weight:100;}
#main .right .content .detail .c2{ padding-top:20px; line-height:20px;color:#000000;}
#main .right .content .detail .b2{ float:right;background:url(images/news_dot3.gif) 5px 5px no-repeat;text-align:right; padding-left:30px;font-size:16px; color:#0055FF; margin-top:30px; height:22px; line-height:22px;}
#main .right .content .detail .b2 a{color:#0055FF;}
#main .right .content .detail .b2 a:hover{color:#FF0000;}

#main .right .content .link{ float:left;padding-left:10px;width:640px;margin-top:20px; padding-bottom:50px;}
#main .right .content .link .t3{ background:url(images/title_bg1.gif); height:31px; line-height:31px; font-size:16px; color:#000000; font-weight:bold; padding-left:30px;}
#main .right .content .link .c3{ margin-left:30px; margin-top:10px;}
#main .right .content .link .c3 dl{ clear:both;width:300px; height:25px; line-height:25px;background:url(images/line_dot.gif) 0px 8px no-repeat;}
#main .right .content .link .c3 dt{float:left; padding-left:8px;}
#main .right .content .link .c3 dd{float:right; width:80px;}

#main .right .box dl{float:left; width:310px; height:20px; line-height:20px; margin-left:10px;}
#main .right .box dt{float:left;}
#main .right .box dd{float:right; width:80px;}


.t3{ background:url(images/title_bg1.gif); height:31px; line-height:31px; font-size:16px; color:#000000; font-weight:bold; padding-left:30px;}
.c3{ margin-left:30px; margin-top:10px;}
.c3 dl{ clear:both;width:300px; height:25px; line-height:25px;background:url(images/line_dot.gif) 0px 8px no-repeat;}
.c3 dt{float:left; padding-left:8px;}
.c3 dd{float:right; width:80px;}

/*按钮样式*/
.buttonCss {
    font-family: "Tahoma", "宋体";
    font-size: 9pt; color: #003399;
    border: 1px #003399 solid;
    color:#006699;
    BORDER-BOTTOM: #93bee2 1px solid; 
    BORDER-LEFT: #93bee2 1px solid; 
    BORDER-RIGHT: #93bee2 1px solid; 
    BORDER-TOP: #93bee2 1px solid;
    background-image:url(images/bluebuttonbg.gif);
    background-color: #e8f4ff;
    CURSOR: hand;
    font-style: normal ;
}
dl{width:450px;padding:3px;  margin :0px}
dt{float:right;padding:0; color :#125648; margin :0; width :380px; font-weight: bold; font-size :13px}
dd{margin:0; margin:0 0 20px 68px; border-bottom :1px solid black; padding-bottom :5px}
.newsImage{ float :left ;margin:0;border-bottom:0;}

