<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormWebServiceTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WinFormWebServiceTest.Properties.Settings>
            <setting name="WinFormWebServiceTest_MyBookShop_MyWebService"
                serializeAs="String">
                <value>http://localhost/Web/MyWebService/MyWebService.asmx</value>
            </setting>
        </WinFormWebServiceTest.Properties.Settings>
    </applicationSettings>
</configuration>